<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Student Insights</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => false %>
    <%= render('shared/rollbar') %>
    <%= render('shared/mixpanel') if Rails.env.production? %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% if ENV['DEPLOYMENT_KEY'] == 'demo' %>
      <div class="big_warning">
        <div>This is the demo site! It's filled with fake data.</div>
        <div>The real site is <a href="https://somerville.studentinsights.org/">somerville.studentinsights.org</a>.</div>
      </div>
    <% end %>
    <div id="renew-session">
      Please click <a href="#" id="renew-sesion-link">this link</a> or your session will timeout due to inactivity.
    </div>
    <div id="root"></div>
    <script type="text/javascript" src="<%= raw @spa_script_src %>"></script>
  </body>
</html>
